@charset "utf-8";

/* 图片居中 */
.center {
  /* 实现相对居中 */
  width: 1226px;
  margin: 0 auto;
}

/* 搜索框 */
#search,
input {
  font-size: 12px;
  outline: none;
  vertical-align: middle;
  border: 1px solid #333333;
  box-sizing: border-box;
  height: 50px;
  padding: 5px 12px;
  background-color: #e8f0fe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

/* 兼容 处理*/
::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}


.search-btn {
  /* 按钮 */
  position: absolute;
  box-sizing: border-box;
  background-color: #e8f0fe;
  width: 50px;
  height: 50px;
  border: 1px solid #333333;
  border-left-width: 0;
}
.search-btn:hover{
  background-color:red;
}
.search-btn img{
  position: relative;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  vertical-align: middle;
}