body {
  background-color: rgba(224, 196, 167, 0.5);
}
#dy-anecdote {
  width: 100%;
  height: 100%;
}
#dy-anecdote .hd-title {
  text-align: center;
  padding-top: 50px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  font-size: 28px;
}
#dy-anecdote .header {
  position: relative;
  width: 1226px;
  height: 600px;
  margin: 15px auto;
  background-color: #ccc;
  border-radius: 12px;
}
#dy-anecdote .an-mask div {
  width: 383px;
  height: 267px;
  float: left;
  margin-left: 12px;
}
#dy-anecdote .header li a img {
  width: 383px;
  float: left;
  padding: 12px;
}
#dy-anecdote .an-mask div {
  position: absolute;
  margin-top: 7px;
  background: rgba(0, 0, 0, 0.5);
}
#dy-anecdote .an-mask div:nth-child(2) {
  position: absolute;
  left: 407px;
}
#dy-anecdote .an-mask div:nth-child(3) {
  position: absolute;
  left: 816px;
}
#dy-anecdote .an-mask div:nth-child(4) {
  position: absolute;
  top: 279px;
}
#dy-anecdote .an-mask div:nth-child(5) {
  position: absolute;
  top: 279px;
  left: 407px;
}
#dy-anecdote .an-mask div:nth-child(6) {
  position: absolute;
  top: 279px;
  left: 816px;
}
#dy-anecdote .an-mask div:hover {
  opacity: .15;
  transition: opacity 0.3s ease-in-out;
}
#dy-anecdote .header {
  text-align: center;
}
#dy-anecdote .header span {
  display: inline-block;
  width: 120px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-bottom: 2px solid red;
}
#dy-anecdote .header span:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all .5s;
}
#dy-anecdote .footer {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: #eee;
}
#dy-anecdote .topH {
  padding-top: 20px;
}
#dy-anecdote .footer p {
  height: 35px;
  line-height: 35px;
}
#dy-anecdote .goHome {
  position: absolute;
  right: 20px;
  width: 150px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.4);
}
#dy-anecdote .goHome a:hover {
  color: orangered;
  transition: color .3s;
}
