@charset "utf-8";

/* 定义变量 */
/*
S: main
  Less编译软件: koala
  软件下载推荐: http://koala-app.com/
  官网样式: https://gitee.com/wang_hong_bin/pic-go-photos/raw/master/Koala.png
  要点注意:
    平级使用:  & + ···
  */
#main {
    width: 100%;
    height: 100%;
    /* 学术展览 */
    /* 模拟 hr ==  Horizontal line */
    /*
        鼠标进入图片发生缩放动画
          选取目标 --> .hoverScal
          添加关键帧动画  --> 放大缩小

          S: animation
      */
    /* E: animation */
    /* S: bottom-image */
    /* S: imgR-Box*/
    /* E: imgR-Box*/
}

#main .imgL-Box > a > img {
    max-width: 400px;
    width: 400px;
    height: 446px;
    overflow: hidden;
    vertical-align: middle;
}

#main .center {
    transform: translateY(25px);
    width: 100%;
    height: 714px;
    margin-left: 58px;
    position: relative;
}

#main .title {
    width: 100%;
    display: block;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    height: 49px;
    line-height: 36px;
    background: linear-gradient(to top, #c79081 0%, #dfa579 100%);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
}

#main .title:hover {
    color: #d85e0d;
    background-color: yellow;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
}

#main .imgL-Box .hoverScal .ac-Show {
    height: 35px;
    line-height: 35px;
}

#main .hiddenText {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    width: 404px;
    height: 446px;
    padding-top: 50px;
    padding-left: 10px;
    background-color: rgba(143, 3, 2, 0.6);
}

#main .ac-Show {
    height: 35px;
    color: #fff;
    line-height: 35px;
    font-size: 28px;
    font-weight: 700;
}

#main .hiddenText p {
    width: 400px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    padding: 20px 0 0;
    font-size: 15px;
    cursor: pointer;
}

#main .text-line {
    width: 348px;
    display: block;
    margin-top: 75px;
    margin-left: 20px;
    border-top: 1px solid #a02928;
    border-bottom: 1px solid #7a0302;
}

#main .hiddenText .ul-info li {
    list-style: "\1F44D";
    /* 可选: disc 实心圆 */
    margin-left: 40px;
    margin-top: 29px;
}

#main .hiddenText .ul-info li a {
    color: #fff;
}

#main .hiddenText .ul-info li span {
    padding-left: 6px;
    display: block;
    font-size: 13px;
    padding-bottom: 12px;
    width: 80%;
}

#main .mainTime {
    font-size: 14px;
}

#main .hiddenText .ul-info li span:hover {
    border-bottom: 1px solid red;
    color: #e3c57e;
    transition: all 3s ease-in-out;
}

#main .imgL-Box a:nth-child(2) {
    display: inline-block;
    max-width: 500px;
    overflow: hidden;
    vertical-align: middle;
}

#main .imgL-Box .hoverScal:hover {
    width: 500px;
    height: 446px;
    overflow: hidden;
    opacity: 1;
    animation: scaleImg 3s .3s;
}

@keyframes scaleImg {
    0% {
        transform: scale(1);
        opacity: 1;
        transition: all 2s ease-in-out;
    }

    50% {
        opacity: .5;
        transform: scale(1.3);
        transition: all 2s ease-in-out;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transition: all 2s ease-in-out;
    }
}

#main .bottom-img {
    display: flex;
    position: absolute;
    width: 1226px;
    top: 480px;
    left: 0;
}

#main .bottom-img a {
    flex: 1;
    margin-right: 10px;
    float: left;
}

#main .bottom-img a img {
    width: 309px;
    max-width: 309px;
    display: inline-block;
}

#main .bottom-img a:hover {
    display: block;
    width: 309px;
    animation: scaleImg 2s;
    /*transform: scale(1.2);*/
    /*transition: all .5s ease-in-out;*/
}

#main .imgR-Box {
    position: absolute;
    left: 860px;
    top: 0;
}

#main .imgR-Box a img {
    width: 400px;
    height: 446px;
}

#main .main-bx {
    width: 100%;
    height: 3px;
    background-color: rgba(217, 58, 10, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* E: main */