
#header {
    position: relative;
    width: 100%;
}

/* 实现图片背景添加 */
#header .header {
    /*background-color: rgba(158, 109, 63, 0.692);*/
    /*
        localSrc: ../../access/img/header/headerLogo.png
        yunSrc: https://gitee.com/wang_hong_bin/pic-go-photos/raw/master/headerLogo.png
      */
    background: url("https://gitee.com/wang_hong_bin/pic-go-photos/raw/master/headerLogo.png") no-repeat;
    background-size: cover;
}


#header .logo img {
    vertical-align: middle;
}

.nav {
    width: 100%;
    height: 50px;
    background-color: #333;
}

.nav ul li {
    float: left;
    width: 150px;
    height: 50px;
    background-color: #5f5d5d;
    margin-right: 1px;
}

.nav ul li a {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 50px;
    transition: .3s;
}

.nav ul li a:hover {
    position: static;
    cursor: pointer;
    color: rgb(105, 44, 15);
    animation-delay: 3s;
    animation: changeColor 2s infinite;
    background-color: rgba(238, 82, 83, .6);
}

@keyframes changeColor {
    0% {
        background: #1d84b5;
    }

    50% {
        background: #00cecb;
    }

    100% {
        background: #1d84b5;
    }
}

.nav ul li ul li {
    position: static;
    z-index: 5;
    display: none;
    width: 220px;
    height: 50px;
    float: initial;
    background-color: rgba(1, 163, 164, 1);
    font-size: 12px;
}

.nav ul li:hover ul li {
    cursor: pointer;
    position: relative;
    z-index: 10;
    display: block;
    border-top: 1px solid rgba(72, 219, 251, .5);
}

.arrow {
    display: inline-block;
    border-top: 5px solid red;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 5px;
    margin-top: -2px;
}

.nav ul li a:hover .arrow {
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all 1s ease-in-out;
}

.search {
    position: absolute;
    width: 300px;
    right: 0;
    top: 59px;
    display: inline-block;
}


/* banner S */
#banner {
    z-index: auto;
    width: 100%;
    height: 500px;
    background-color: #deb686;
    padding-top: 15px;
}

.bannerFl {
    z-index: 1;
    position: static;
    width: 967px;
    height: 400px;
    float: left;
    background: url('../../access/img/banner/3.jpg') no-repeat;
    background-size: cover;
    animation: changeImg 5s ease-in-out infinite;
    box-shadow: 0 0 15px rgb(27, 149, 206);
}

@keyframes changeImg {
    0% {
        /*
                          本地:  ../access/img/banner/3.jpg
                          服务器: https://gitee.com/wang_hong_bin/pic-go-photos/raw/master/3.jpg
                        */
        background: url('https://gitee.com/wang_hong_bin/pic-go-photos/raw/master/3.jpg') no-repeat;
    }

    50% {
        /*
              localSrc: .../access/img/banner/2.jpg
              yunSrc: https: //gitee.com/wang_hong_bin/pic-go-photos/raw/master/2.jpg
           */
        background: url('https://gitee.com/wang_hong_bin/pic-go-photos/raw/master/2.jpg') no-repeat;
    }

    100% {
        /*
              localSrc: ../access/img/banner/right1.jpg
              yunSrc: https: //gitee.com/wang_hong_bin/pic-go-photos/raw/master/right1.jpg
           */
        background: url('https://gitee.com/wang_hong_bin/pic-go-photos/raw/master/right1.jpg') no-repeat;
    }
}

.banmnerFr .ul li {
    float: left;
    margin-left: 8px;
    box-shadow: 0 0 8px rgb(27, 149, 206);
}

.banmnerFr .ul li:nth-child(2),
.banmnerFr .ul li:nth-child(3),
.banmnerFr .ul li:nth-child(4),
.banmnerFr .ul li:nth-child(5) {
    margin-top: 10px;
}

.banmnerFr .ul li a {
    display: block;
}

.banmnerFr .ul li img {
    width: 250px;
    vertical-align: middle;
}

.banmnerFr .ul {
    margin-top: 55px;
}

.banmnerFr {
    position: relative;
    z-index: 1;
}

.banmnerFr .showText {
    position: absolute;
    width: 532px;
    right: 0;

    display: none;
}

.banmnerFr .showText li {
    position: relative;
    overflow: hidden;
    font-size: 12px;
    left: 279px;
    color: #fff;
    width: 250px;
    height: 94px;
    padding-left: 8px;
    padding-top: 6px;
    background-color: rgba(255, 255, 255, .3);
}

.banmnerFr:hover .showText {
    display: block;
}

/* banner E */


/* TextInfo S*/
#textInfo {
    background-color: #eee;
    line-height: 35px;
    text-indent: 2rem;
    padding-bottom: 15px;
    box-shadow: 0 0 10px #eee;
}

#textInfo p {
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    font-weight: 700;
    color: #000;
    padding-top: 15px;
    font-size: 16px;
}

/* TextInfo E*/


/* Flex S */
#cardShow {
    width: 100%;
    /* 颜色更新: #e0bc99*/
    background-color: rgba(199, 191, 188, 0.5);
    padding-top: 50px;
    /*
        时间: 2020-11-20 19:28
        更新 padding-bottom： 20px;
      */
    padding-bottom: 20px;
}

.cardShow {
    display: flex;
    width: 1226px;
    height: 620px;
}

#cardShow .card {
    flex: 1;
    width: 370px;
    margin-left: 20px;
    position: relative;
}

#cardShow .cardLeft {
    /*
        颜色更新 2020-11-20 19:26
        原颜色: #2395CB
        新颜色: #a58a81
    */
    background-color: #a58a81;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#cardShow .cardCenter {
    background-color: #9d7d56;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#cardShow .cardRight {
    background-color: #844933;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.top {
    height: 280px;
    box-shadow: 1px 1px 10px rgba(132, 73, 51, .9);
}

.btm {
    height: 340px;
    background-color: #fff;
}

/* 箭头 */
.arrow1,
.arrow2,
.arrow3 {
    position: absolute;
    left: 50%;
    top: 279px;
    transform: translate(-50%);
    border-top: 15px solid red;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.arrow1 {
    border-top: 15px solid #a58a81;
}

.arrow2 {
    border-top: 15px solid #9d7d56;
}

.arrow3 {
    border-top: 15px solid #844933;
}

.borderaRadius {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.borderaRadius img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;

    border: 2px solid #fff;
}

.topImg {
    left: 10px;
    top: 0;
}

.line {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 205%;
    width: 150px;
    height: 2px;

    border: 2px solid #fff;
    border-top-width: 2px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    display: inline-block;
}

.titleLine {
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    top: 140%;;
}

.btm .btnTitle {
    font-weight: 700;
    font-size: 14px;
    display: block;
    text-indent: 2rem;
    height: 50px;
    line-height: 50px;
}

.btm img {
    width: 120px;
    padding-left: 24px;
    vertical-align: middle;
}

.btnText {
    position: absolute;
    padding-left: 8px;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
}

.cicrl {
    position: absolute;

    left: -98px;
    list-style-type: disc;
    color: blue;
}

.cicrl li a {
    color: #555;
}

.cicrl li a:hover {
    text-decoration: underline rgb(248, 103, 36);
    transition: all .5s ease-in;
}

/* Flex E*/


/* GoTop S */

.goTop .gotop {
    color: red;
    position: fixed;
    bottom: 270px;
    transform: translate(0, -50%);
    width: 60px;
    height: 60px;
    right: 15px;
    line-height: 60px;
    background-color: rgba(232, 255, 255, .8);
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    font-weight: bold;
}

/* GoTop E */