@charset "utf-8";
body {
  background: #ccc;
}
/* S: ac-header */
#ac-header {
  height: 100%;
  width: 100%;
  /* E: ac-header */
  /* S: Slider */
  /* E: Slider */
}
#ac-header .ac-bg {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #f4813691;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
#ac-header .ac-nav {
  position: absolute;
  width: 100%;
  max-width: 1226px;
  height: 100px;
  line-height: 79px;
  box-sizing: border-box;
}
#ac-header .fl {
  width: 826px;
  height: 100%;
  float: left;
}
#ac-header .dy-ul {
  width: 400px;
  float: left;
}
#ac-header .dy-ul li a {
  float: left;
  padding: 9px 16px 12px;
  display: inline-block;
}
#ac-header .dy-ul li a:hover {
  background-color: rgba(231, 138, 57, 0.76);
  border-radius: 4px;
  color: #000;
  text-shadow: 0 0 2px orangered;
}
#ac-header .slider {
  margin-top: 30px;
  border-radius: 8px;
}
#ac-header .title {
  margin: 0 auto;
  width: 800px;
  height: 300px;
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 25px;
  background-color: #eee;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.7);
}
#ac-header .dy-title {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  display: block;
  text-align: center;
}
#ac-header .textInfo {
  padding-top: 15px;
}
#ac-header .textInfo p span {
  display: inline-block;
  line-height: 35px;
  text-align: left;
  text-indent: 2rem;
}
#ac-header .Shutters {
  width: 100%;
}
#ac-header .release p span {
  width: 120px;
  cursor: pointer;
  height: 35px;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  text-shadow: 0 0 2px #f9b78d;
  border-bottom: 1px solid #ccc;
}
#ac-header .release p span:hover {
  width: 120px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease-in-out;
}
#ac-header .release .line {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: red;
  box-shadow: 0 0 12px rgba(226, 112, 25, 0.5);
}
#ac-header .release p:hover ~ .line {
  width: 100%;
  transition: width 2s ease-in-out;
}
#ac-header .exhibition {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}
#ac-header .e-info .description i {
  display: block;
  height: 30px;
  line-height: 30px;
  width: 300px;
  overflow: auto;
  font-style: normal;
  text-align: center;
}
#ac-header .e-info {
  box-sizing: border-box;
  float: left;
  max-width: 320px;
  overflow: hidden;
  padding: 5px;
  border: 1px solid #d9882e;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
#ac-header .e-info img {
  padding-top: 10px;
  width: 300px;
  overflow: hidden;
  height: 274px;
  display: inline-block;
}
#ac-header .footer {
  color: #fff;
  width: 100%;
  margin-top: 330px;
  height: 150px;
  line-height: 35px;
  background-color: rgba(229, 117, 73, 0.68);
}
#ac-header .footer p:nth-child(1) {
  padding-top: 15px;
}
#ac-header .footer p {
  width: 100%;
  text-align: center;
}
#ac-header .e-info img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
#ac-header .goTop a {
  text-align: center;
  position: absolute;
  bottom: -120px;
  transform: translate(0, -50%);
  right: 90px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
#ac-header .goTop a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
