@charset "utf-8";

#ac-header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

#ac-header .ac-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  line-height: 79px;
  background-color: rgba(233, 137, 58, .8);
}
#ac-header .dy-ul{
  position: absolute;
  right: 100px;
}

#ac-header .dy-ul li {
  height: 100px;
  line-height: 80px;
  float: left;
  padding: 10px 15px;
}

#ac-header .dy-ul li a:hover,
#ac-header .dy-ul li a {
  height: 98px;
  padding: 40px 25px;
  font-size: 14px;
}

#ac-header .dy-ul li a:hover {
  background-color: rgba(255, 255, 255, .54);
  transition: all .5s ease-in-out;
  color: rgb(247, 145, 29);
  border-radius: 3px;
}

.hiddenBox{
  width: 100%;
  height: 100px;
  background-color: green;
  display: none;
  position: absolute;
  top: 100px;
}
.slider {
  display: inline-block;
  width: 100%;
  margin-top: 100px;
  height: 1600px;
  background-color: rgb(206, 199, 199);
}