#bi-header {
  width: 100%;

  .bi-textInfo {
    width: 100%;
    line-height: 35px;
  }
  h2{
    font-weight: 700;
    font-size: 20px;
  }

  .bi-textInfo p {
    padding-top: 5px;
    padding-left: 15px;
    text-indent: 2rem;
  }
}